<section class="fr-py-6w <%= cards.cssClass %>">
  <div class="fr-container">
    <div class="fr-fr-grid-row fr-grid-row--center rf-centered">
      <div>
        <h2><%= cards.title %></h2>
        <span><%= cards.subtitle %></span>
      </div>
    </div>
  </div>
  <div class="fr-container">
    <div class="fr-grid-row fr-grid-row--gutters fr-mt-4v fr-pb-4v">
      <div class="fr-col-12 fr-col-md-4 fr-mb-3w">
        <div class="fr-card fr-card--no-arrow rf-centered fr-mx-3w">
          <div class="fr-card__body">
              <h3 class="fr-card__title"><%= cards.parts[0].title %></h3>
              <p class="fr-card__desc"><%= cards.parts[0].text %></p>
          </div>
        </div>
      </div>
      <div class="fr-col-12 fr-col-md-4 fr-mb-3w">
        <div class="fr-card fr-card--no-arrow rf-centered fr-mx-3w">
          <div class="fr-card__body">
            <h3 class="fr-card__title"><%= cards.parts[1].title %></h3>
            <p class="fr-card__desc"><%= cards.parts[1].text %></p>
          </div>
        </div>
      </div>
      <div class="fr-col-12 fr-col-md-4 fr-mb-3w">
        <div class="fr-card fr-card--no-arrow rf-centered fr-mx-3w">
          <div class="fr-card__body">
            <h3 class="fr-card__title"><%= cards.parts[2].title %></h3>
            <p class="fr-card__desc"><%= cards.parts[2].text %></p>
          </div>
        </div>
      </div>
      <div class="fr-col-12 fr-col-md-4 fr-mb-3w">
        <div class="fr-card fr-card--no-arrow rf-centered fr-mx-3w">
          <div class="fr-card__body">
            <h3 class="fr-card__title"><%= cards.parts[3].title %></h3>
            <p class="fr-card__desc"><%= cards.parts[3].text %></p>
          </div>
        </div>
      </div>
      <div class="fr-col-12 fr-col-md-4 fr-mb-3w">
        <div class="fr-card fr-card--no-arrow rf-centered fr-mx-3w">
          <div class="fr-card__body">
            <h3 class="fr-card__title"><%= cards.parts[4].title %></h3>
            <p class="fr-card__desc"><%= cards.parts[4].text %></p>
          </div>
        </div>
      </div>
      <div class="fr-col-12 fr-col-md-4 fr-mb-3w">
        <div class="fr-card fr-card--no-arrow rf-centered fr-mx-3w">
          <div class="fr-card__body">
            <h3 class="fr-card__title"><%= cards.parts[5].title %></h3>
            <p class="fr-card__desc"><%= cards.parts[5].text %></p>
          </div>
        </div>
      </div>
     </div>
    </div>
  </div>
</section>