<section class="fr-py-6w <%= cards.cssClass %>">
  <a id="decouvrir" class="anchor"></a>
  <div class="fr-container">
    <div class="fr-fr-grid-row fr-grid-row--center rf-centered">
      <div class="fr-mb-6w fr-px-6w">
        <h2><%= cards.title %></h2>
        <span  class="text-grey"><%= cards.subtitle %></span>
        <p class="text-grey"><%= cards.subtitle2 %></p>
      </div>
    </div>
  </div>
  <div class="fr-container">
    <div class="fr-grid-row fr-grid-row--gutters fr-mt-4v fr-pb-4v">
      <% cards.parts.forEach(function(part) { %>
      <div class="fr-col-12 fr-col-md-4 fr-mb-3w">
        <div class="rf-centered fr-mx-3w">
          <img class="card-icon " src="<%= part.src %>" alt="<%= part.alt %>">
          <h3 class=""><%= part.title %></h3>
          <p class="fr-text--lg"><%= part.text %></p>
        </div>
      </div>
      <% }); %>
     </div>
    </div>
  </div>
</section>
