<footer role="contentinfo" class="fr-footer" id="footer">
  <div class="fr-container">
    <div class="fr-footer__body">
      <div class="fr-footer__brand fr-enlarge-link">
        <a href="/" title="Retour à l’accueil">
          <p class="fr-logo">
            République<br>
            française
          </p>
        </a>
      </div>

      <div class="fr-footer__content">
        <p class="fr-footer__content-desc">
          <%= appDescription %>
        </p>

        <p class="fr-footer__content-desc">
          Le code source est ouvert et les contributions sont bienvenues.
          <a title="Voir le code source" href="<%= appRepo %>" target="_blank" rel="noopener">Voir le code source</a>.
        </p>

        <ul class="fr-footer__content-list">
          <li class="fr-footer__content-item">
            <a class="fr-footer__content-link" title="Contactez-nous" href="mailto:<%= appContactEmail %>">
              Contactez-nous
            </a>
          </li>
          <li class="fr-footer__content-item">
            <a class="fr-footer__content-link" href="https://www.numerique.gouv.fr/">numerique.gouv.fr</a>
          </li>
          <li class="fr-footer__content-item">
            <a class="fr-footer__content-link" href="https://beta.gouv.fr/">beta.gouv.fr</a>
          </li>
          <li class="fr-footer__content-item">
            <a class="fr-footer__content-link" href="https://www.gouvernement.fr/">gouvernement.fr</a>
          </li>
        </ul>
      </div>
    </div>

    <div class="fr-footer__bottom">
      <ul class="fr-footer__bottom-list">
        <li class="fr-footer__bottom-item">
          <a class="fr-footer__bottom-link" href="/mentions-legales">Mentions légales</a>
        </li>
        <li class="fr-footer__bottom-item">
          <a class="fr-footer__bottom-link" href="/donnees-personnelles-et-cookies">Données personnelles et cookies</a>
        </li>
        <li class="fr-footer__bottom-item">
          <a class="fr-footer__bottom-link" href="mailto:<%= appContactEmail %>" rel="noopener" target="_blank">
            Contactez-nous
          </a>
        </li>
        <li class="fr-footer__bottom-item">
          <button class="fr-footer__bottom-link fr-fi-sun-fill-line fr-link--icon-left" aria-controls="fr-theme-modal" data-fr-opened="false">
            Paramètres d'affichage
          </button>
        </li>
      </ul>

      <div class="fr-footer__bottom-copy">
        <p>
          Sauf mention contraire, tous les textes de ce site sont sous
          <a href="https://github.com/etalab/licence-ouverte/blob/master/LO.md" rel="noopener" target="_blank">
            licence etalab-2.0
          </a>.
        </p>
      </div>
    </div>
  </div>
</footer>

<button id="TopScrollerButton" class="fr-btn fr-fi-arrow-up-line" title="Revenir en haut de la page">
  Revenir en haut de la page
</button>

<%- include('dark-mode-modale') -%>

<script type="text/javascript" src="/index.bundle.js"></script>

<script type="text/javascript" src="/js/externals/matomo.js" defer></script>
<script type="text/javascript" src="/js/externals/crisp.js" defer></script>
