<head>
  <meta charset="utf-8">

  <% if (typeof pageDescription !== "undefined") { %>
    <meta name="description" content="<%= pageDescription %>">
  <% } else { %>
    <meta name="description" content="<%= appDescription %>">
  <% } %>

  <meta name="google-site-verification" content="rbHd2NXOspK6-avguNFUvBzgddpFwWzph-a8Ebxepvo" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta property="og:title" content="metiers.numerique.gouv.fr">
  <meta property="og:description" content="L’Etat Numérique : Des projets à découvrir, des missions à pourvoir !">
  <meta property="og:image" content="/static/images/main-illu.png">

  <% if (typeof pageTitle !== "undefined") { %>
    <title><%= pageTitle %> | <%= appName %></title>
  <% } else { %>
    <title><%= appName %></title>
  <% } %>

  <link rel="apple-touch-icon" href="/static/favicons/apple-touch-icon.png"><!-- 180×180 -->
  <link rel="icon" href="/static/favicons/favicon.svg" type="image/svg+xml">
  <link rel="shortcut icon" href="/static/favicons/favicon.ico" type="image/x-icon"><!-- 32×32 -->
  <link rel="stylesheet" href="/static/css/index.bundle.css">
</head>
