<% if (jobs.length === 0) { %>
	<div class="fr-col-12 fr-col-md-12 fr-px-2w fr-py-2w">
    <p>Aucune offre d'emploi ne correspond à cette recherche.</p>
  </div>
<% } %>

<% for (let i = 0; i < jobs.length; i++) { %>
	<div class="fr-col-12 fr-py-2w fr-col-md-12 job-card">
		<div class="fr-card fr-card--horizontal fr-card--no-arrow shadow-lg rounded-lg zoomable">
      <div class="fr-card__body">
        <div class="fr-grid-row fr-grid-row--gutters">
          <div class="fr-col-12 fr-col-md-3 hidden-md">
            <% if (jobs[i].service) { %>
              <p style="align-items: center; display: flex; font-size: 1rem;">
                <i class="ri-building-fill fr-mr-2w"></i>
                <% if (jobs[i].service.url) { %>
                  <a href="<%= jobs[i].service.url %>" rel="noopener" target="_blank">
                    <%= jobs[i].service.name %>
                  </a>
                <% } else { %>
                  <%= jobs[i].service.name %>
                <% } %>
                </p>
            <% } %>

            <% if (jobs[i].service) { %>
              <p style="align-items: center; display: flex; font-size: 1rem;">
                <i class="ri-map-pin-fill fr-mr-2w"></i>
                <%= jobs[i].service.region %>
              </p>
            <% } %>

            <% if (jobs[i].updatedDate) { %>
              <p style="align-items: center; display: flex; font-size: 1rem;">
                <i class="ri-calendar-fill fr-mr-2w"></i>
                <%= jobs[i].updatedDate %>
              </p>
            <% } %>
          </div>

          <div class="fr-col-12 fr-col-md-9">
            <h4 class="fr-card__lead">
              <a href="/emploi/<%= jobs[i].slug ;%>" class="fr-card__link">
                <%= jobs[i].title %>
              </a>
            </h4>

            <p class="fr-card__desc excerpt">
              <% if (jobs[i].mission) { %>
                <%= helper.stripHtmlTags(jobs[i].mission) %>
              <% } else if (jobs[i].tasks.length) { %>
                <%= helper.stripHtmlTags(jobs[i].tasks[0]) %>
              <% } else if (jobs[i].team) { %>
                <%= helper.stripHtmlTags(jobs[i].team) %>
              <% } else { %>
                Description manquante 😟 ! Aidez-nous en nous le signalant par email à :
                <a href="mailto:contact@metiers.numerique.gouv.fr?subject=<%= encodeURI(`[BUG] [JOB-DESC] #${jobs[i].reference}`) %>" rel="noopener" target="_blank">
                  contact@metiers.numerique.gouv.fr
                </a>.
              <% } %>
            </p>

            <ul class="fr-tags-group">
              <% jobs[i].experiences.forEach(function(experience) { %>
                <a href="#" class="fr-tag fr-tag--sm"><%= experience ;%></a>
              <% }); %>

              <% if (jobs[i].openedToContractTypes.length) { %>
                <a href="#" class="fr-tag fr-tag--sm">
                  <%= jobs[i].openedToContractTypes.join(', ') ;%>
                </a>
              <% } %>
            </ul>
          </div>
        </div>

        <div class="hidden-md-flex" style="align-items: flex-end; justify-content: space-between;">
          <code style="background-color: transparent; opacity: 0.5;">
            <%= jobs[i].reference %>
          </code>

          <a href="/emploi/<%= jobs[i].slug ;%>" class="trk-lire-offre fr-btn fr-btn--sm">
            Lire l'offre d'emploi!
            <span class="fr-fi-arrow-right-line fr-pl-1w" aria-hidden="true"></span>
          </a>
        </div>
      </div>
		</div>
	</div>
<% } %>
