<section class="fr-py-6w">
  <div class="fr-container">
    <div class="fr-grid-row fr-grid-row--center rf-centered">
      <div>
        <h2><%= stories.title %></h2>
        <span><%= stories.subtitle %></span>
      </div>
    </div>
  </div>
  <div class="fr-container">
    <div class="fr-grid-row fr-grid-row--gutters fr-grid-row--center fr-mt-4v fr-pb-4v">
      <% stories.parts.forEach(function(part) { %>
      <div class="fr-col-8 fr-col-md-3 fr-mb-4v">
        <img class="contained-img" src="<%= part.src %>" alt="<%= part.alt %>">
        <p class="rf-centered"><%= part.text %></p>
      </div>
      <% }); %>
    </div>
  </div>
</section>
