<!DOCTYPE html>
<html lang="fr">
  <%- include('partials/head') -%>

  <body>
    <%- include('partials/header') -%>

    <div id="Institution">
      <div class="fr-container">
        <div class="fr-grid-row fr-grid-row--gutters">
          <div class="fr-col-3 fr-mb-4w fr-mt-6w">
            <% if (institution.logoUrl.length) { %>
              <img src="<%= institution.logoUrl %>" class="fr-responsive-img" alt="<%= institution.title %>" >
            <% } %>
          </div>
          <div class="fr-col-7 fr-mb-4w fr-mt-8w fr-ml-2w">
            <h1><%= institution.title %></h1>
            <p><%= institution.fullName %></p>
          </div>
        </div>

        <% if (institution.motivation || institution.motivationFiles && institution.motivationFiles.length) { %>
          <div class="fr-callout fr-px-0 fr-my-2w">
            <div class="fr-grid-row fr-grid-row--gutters">
              <div class="fr-col-sm-12 fr-px-8w">
                <h5>Raison d‘être</h5>

                <% if (institution.motivation) { %>
                  <%- institution.motivation %>
                <% } %>

                <% if (institution.motivationFiles && institution.motivationFiles.length) { %>
                  <div class="FileSection">
                    <% institution.motivationFiles.forEach(function(motivationFile) { %>
                      <%- motivationFile %>
                    <% }); %>
                  </div>
                <% } %>
              </div>
            </div>
          </div>
        <% } %>

        <div id="Institution-main-fields" class="fr-my-4w">
          <% if (institution.value || institution.valueFiles && institution.valueFiles.length) { %>
            <div class="fr-grid-row fr-grid-row--gutters">
              <div class="fr-col-md-3 fr-col-sm-12">
                <h3>Valeurs</h3>
              </div>
              <div class="fr-col-md-9 fr-col-sm-12 fr-mb-4w">
                <% if (institution.value) { %>
                  <%- institution.value %>
                <% } %>

                <% if (institution.valueFiles && institution.valueFiles.length) { %>
                  <div class="FileSection">
                    <% institution.valueFiles.forEach(function(valueFile) { %>
                      <%- valueFile %>
                    <% }); %>
                  </div>
                <% } %>
              </div>
            </div>
          <% } %>

          <% if (institution.challenges) { %>
            <div class="fr-grid-row fr-grid-row--gutters">
              <div class="fr-col-md-3 fr-col-sm-12">
                <h3>Nos enjeux</h3>
              </div>
              <div class="fr-col-md-9 fr-col-sm-12">
                <%- institution.challenges %>
              </div>
            </div>
          <% } %>

          <% if (institution.missions) { %>
            <div class="fr-grid-row fr-grid-row--gutters">
              <div class="fr-col-md-3 fr-col-sm-12">
              <h3>Missions</h3>
              </div>
              <div class="fr-col-md-9 fr-col-sm-12">
                <%- institution.missions %>
              </div>
            </div>
          <% } %>

          <% if (institution.project || institution.projectFiles && institution.projectFiles.length) { %>
            <div class="fr-grid-row fr-grid-row--gutters">
              <div class="fr-col-md-3 fr-col-sm-12">
                <h3>Projets</h3>
              </div>
              <div class="fr-col-md-9 fr-col-sm-12 fr-mb-4w">
                <% if (institution.project) { %>
                  <%- institution.project %>
                <% } %>

                <% if (institution.projectFiles && institution.projectFiles.length) { %>
                  <div class="FileSection">
                    <% institution.projectFiles.forEach(function(projectFile) { %>
                      <%- projectFile %>
                    <% }); %>
                  </div>
                <% } %>
              </div>
            </div>
          <% } %>

          <% if (institution.organization || institution.organizationFiles && institution.organizationFiles.length) { %>
            <div class="fr-grid-row fr-grid-row--gutters">
              <div class="fr-col-md-3 fr-col-sm-12">
                <h3>Notre organisation</h3>
              </div>
              <div class="fr-col-md-9 fr-col-sm-12 fr-mb-6w">
                <% if (institution.organization) { %>
                  <%- institution.organization %>
                <% } %>

                <% if (institution.organizationFiles && institution.organizationFiles.length) { %>
                  <div class="FileSection">
                    <% institution.organizationFiles.forEach(function(organizationFile) { %>
                      <%- organizationFile %>
                    <% }); %>
                  </div>
                <% } %>
              </div>
            </div>
          <% } %>

          <% if (institution.testimonial || institution.testimonialFiles && institution.testimonialFiles.length) { %>
            <div class="fr-grid-row fr-grid-row--gutters">
              <div class="fr-col-md-3 fr-col-sm-12">
                <h3>Nos agents en parlent</h3>
              </div>
              <div class="fr-col-md-9 fr-col-sm-12 fr-mb-4w">
                <p>Découvrez le témoignage de nos agents:</p>

                <% if (institution.testimonial) { %>
                  <%- institution.testimonial %>
                <% } %>

                <% if (institution.testimonialFiles && institution.testimonialFiles.length) { %>
                  <div class="FileSection">
                    <% institution.testimonialFiles.forEach(function(testimonialsFile) { %>
                      <%- testimonialsFile %>
                    <% }); %>
                  </div>
                <% } %>
              </div>
            </div>
          <% } %>

          <% if (institution.profile) { %>
            <div class="fr-grid-row fr-grid-row--gutters">
              <div class="fr-col-md-3 fr-col-sm-12">
                <h3>Ton profil</h3>
              </div>
              <div class="fr-col-md-9 fr-col-sm-12 fr-mb-4w">
                <%- institution.profile %>
              </div>
            </div>
          <% } %>

          <% if (institution.hiringProcess) { %>
            <div class="fr-grid-row fr-grid-row--gutters">
              <div class="fr-col-md-3 fr-col-sm-12">
                <h3>Processus de recrutement</h3>
              </div>
              <div class="fr-col-md-9 fr-col-sm-12 fr-mb-4w">
                <%- institution.hiringProcess %>
              </div>
            </div>
          <% } %>

          <% if (institution.joinTeam || institution.joinTeamFiles && institution.joinTeamFiles.length) { %>
            <div class="fr-grid-row fr-grid-row--gutters">
              <div class="fr-col-md-3 fr-col-sm-12">
                <h3>Nous rejoindre</h3>
              </div>
              <div class="fr-col-md-9 fr-col-sm-12 fr-mb-4w">
                <% if (institution.joinTeam) { %>
                  <%- institution.joinTeam %>
                <% } %>

                <% if (institution.joinTeamFiles && institution.joinTeamFiles.length) { %>
                  <div class="FileSection">
                    <% institution.joinTeamFiles.forEach(function(joinTeamFile) { %>
                      <%- joinTeamFile %>
                    <% }); %>
                  </div>
                <% } %>

                <!--<a href="#" class="fr-btn fr-btn--sm">
                  Découvrez nos offres d'emploi
                  <span class="fr-fi-arrow-right-line fr-pl-1w" aria-hidden="true"></span>
                </a>-->
              </div>
            </div>
          <% } %>
        </div>
      </div>

      <div class="fr-container fr-py-4w" style="background-color: #F0F0F0">
        <% if (institution.keyNumbers) { %>
          <div class="fr-grid-row fr-grid-row--gutters">
            <div class="fr-col-md-3 fr-col-sm-12">
              <h5>Chiffres clés</h5>
            </div>
            <div class="fr-col-md-9 fr-col-sm-12 fr-mb-4w">
              <%- institution.keyNumbers %>
            </div>
          </div>
        <% } %>

        <% if (institution.schedule) { %>
          <div class="fr-grid-row fr-grid-row--gutters">
            <div class="fr-col-md-3 fr-col-sm-12">
              <h5>Agenda</h5>
            </div>
            <div class="fr-col-md-9 fr-col-sm-12 fr-mb-4w">
              <%- institution.schedule %>
            </div>
          </div>
        <% } %>

        <%
          if (
            institution.websiteFiles && institution.websiteFiles.length
            || institution.socialNetworkUrls && institution.socialNetworkUrls.length
          ) {
        %>
          <div class="fr-grid-row fr-grid-row--gutters">
            <div class="fr-col-md-3 fr-col-sm-12">
              <h5>Sites & réseaux</h5>
            </div>
            <div class="fr-col-md-9 fr-col-sm-12">
              <% if (institution.websiteFiles && institution.websiteFiles.length) { %>
                <ul>
                  <% institution.websiteFiles.forEach(function(websiteFile) { %>
                    <li>
                      <a href="<%= websiteFile.external.url %>" rel="noopener" target="_blank"><%= websiteFile.name %></a>
                    </li>
                  <% }); %>
                </ul>
              <% } %>

              <% if (institution.socialNetworkUrls && institution.socialNetworkUrls.length) { %>
                <p class="SocialNetworkParagraph">
                  <% institution.socialNetworkUrls.forEach(function(socialNetworkUrl) { %>
                    <% if (socialNetworkUrl.search('linkedin.com') !== -1) { %>
                      <a href="<%= socialNetworkUrl %>" rel="noopener" target="_blank">
                        <i class="ri-linkedin-fill"></i>
                      </a>
                    <% } else if (socialNetworkUrl.search('twitter.com') !== -1) { %>
                      <a href="<%= socialNetworkUrl %>" rel="noopener" target="_blank">
                        <i class="ri-twitter-fill"></i>
                      </a>
                    <% } else if (socialNetworkUrl.search('facebook.com') !== -1) { %>
                      <a href="<%= socialNetworkUrl %>" rel="noopener" target="_blank">
                        <i class="ri-facebook-fill"></i>
                      </a>
                    <% } else if (socialNetworkUrl.search('instagram.com') !== -1) { %>
                      <a href="<%= socialNetworkUrl %>" rel="noopener" target="_blank">
                        <i class="ri-instagram-fill"></i>
                      </a>
                    <% } else if (socialNetworkUrl.search('youtube.com') !== -1) { %>
                      <a href="<%= socialNetworkUrl %>" rel="noopener" target="_blank" style="padding-top: 0.25rem;">
                        <i class="ri-youtube-fill"></i>
                      </a>
                    <% } else if (socialNetworkUrl.search('github.com') !== -1) { %>
                      <a href="<%= socialNetworkUrl %>" rel="noopener" target="_blank">
                        <i class="ri-github-fill"></i>
                      </a>
                    <% } else if (socialNetworkUrl.search('dailymotion.com') !== -1) { %>
                      <a href="<%= socialNetworkUrl %>" rel="noopener" target="_blank">
                        <img src="/icons/dailymotion.svg" />
                      </a>
                    <% } else if (socialNetworkUrl.search('soundcloud.com') !== -1) { %>
                      <a href="<%= socialNetworkUrl %>" rel="noopener" target="_blank">
                        <i class="ri-soundcloud-fill"></i>
                      </a>
                    <% } else { %>
                      <a href="<%= socialNetworkUrl %>" rel="noopener" target="_blank">
                        <%= socialNetworkUrl %>
                      </a>
                    <% } %>
                  <% }); %>
                </p>
              <% } %>
            </div>
          </div>
        <% } %>

        <% if (institution.address || institution.addressFiles && institution.addressFiles.length) { %>
          <div class="fr-grid-row fr-grid-row--gutters">
            <div class="fr-col-md-3 fr-col-sm-12">
              <h5>Adresses</h5>
            </div>
            <div class="fr-col-md-9 fr-col-sm-12">
              <% if (institution.address) { %>
                <%- institution.address %>
              <% } %>

              <% if (institution.addressFiles && institution.addressFiles.length) { %>
                <div>
                  <% institution.addressFiles.forEach(function(addressFile) { %>
                    <% if (addressFile.name.search('google.com') != -1) { %>
                      <a href="<%= addressFile.name %>" rel="noopener" target="_blank">Voir sur Google maps</a>
                    <% } else { %>
                      <% if (addressFile.name.search('.jpg') != -1 ) { %>
                        <a href="<%= addressFile.file.url %>" rel="noopener" target="_blank">
                          <img class="fr-col-2 fr-mt-6w" src="<%= addressFile.file.url %>" alt="<%= addressFile.name %>">
                        </a>
                      <% } %>
                    <% } %>
                  <% }); %>
                </div>
              <% } %>
            </div>
          </div>
        <% } %>
      </div>
    </div>

    <%- include('partials/footer') -%>
  </body>
</html>
