<!DOCTYPE html>
<html lang="fr">
  <%- include('partials/head') -%>

  <body>
    <%- include('partials/header') -%>

    <div id="ministeres" class="fr-container fr-my-4w">
      <div class="fr-grid-row fr-grid-row--center fr-grid-row--middle">
        <div class="fr-col-md-5 fr-col-xs-6">
          <h1>Découvrez toutes les entités numériques de l'Etat</h1>
          <p class="text-grey">
              L'équipe conceptrice de ce service met tout en œuvre pour rassembler un maximun d'entités numériques très rapidement !
          </p>
        </div>
        <div class="fr-col-md-5 fr-col-xs-6">
          <div>
            <img style="max-width: 100%;" src="/images/undraw_quiet_town.png" alt="L’Etat Numérique" />
          </div>
        </div>
      </div>

      <div id='ministeres--list'>
        <% for (let i=0; i < institutions.length; i++)  { %>
          <div class="fr-card fr-enlarge-link">
            <div class="fr-card__body">
              <h4 class="fr-card__title">
                <a href="/institution/<%= institutions[i].slug %>" class="fr-card__link">
                  <%= institutions[i].title %>
                </a>
              </h4>
              <p class="fr-card__desc"><%= institutions[i].fullName %></p>
            </div>
            <div class="fr-card__img">
              <img src="<%= institutions[i].thumbnailUrl %>" class="fr-responsive-img" alt="">
            </div>
          </div>
        <% } %>
      </div>
    </div>

    <%- include('partials/footer') -%>
  </body>
</html>
