<%- include('partials/header') -%>
  <div class="fr-container">
      <div id="mission-title">
        <h1>
          <%= job.title %>
        </h1>
      </div>
      <div class="fr-callout mission-summary">
        <div class="fr-callout__text">
          <div class="fr-grid-row fr-grid-row--gutters">
            <% var blocks = [ { title: `Type de contrat`, text: job.contrat}, {title: `Ministère`,
                text: job.ministry}, {title: `Remuneration`, text: job.salary}, {title: `Localisation`, text:
                job.location}] ; %>
            <% for(let i=0; i < blocks.length; i++) { %>
              <div class="mission-summary__block fr-col-xs-12 fr-col-md-3">
                <div class="mission-summary__block__title">
                  <%= blocks[i].title %>
                </div>
                <div class="mission-summary__block__content">
                  <%= blocks[i].text %>
                </div>
              </div>
              <% } %>
          </div>
        </div>
      </div>
      <div id="mission-description-prerequis">
        <h2>Date limite</h2>
        <p>
          <%=job.limitDate%>
        </p>
      </div>
      <div id="mission-description-prerequis">
        <h2>Pour candidater</h2>
        <p>
          <%=job.toCandidate%>
        </p>
      </div>
      <div id="mission-description-prerequis">
        <h2>Poste ouvert aux</h2>
        <p>
          <%=job.openTo%>
        </p>
      </div>
      <div id="mission-description-prerequis">
        <h2>Les plus du poste</h2>
        <p>
          <%=job.advantage%>
        </p>
      </div>
      <div id="mission-description-prerequis">
        <h2>Profil</h2>
        <p>
          <%=job.profil%>
        </p>
      </div>
      <div id="mission-description-prerequis">
        <h2>Conditions particulières du poste</h2>
        <p>
          <%=job.conditions%>
        </p>
      </div>
      <div id="mission-description-prerequis">
        <h2>Pour en savoir plus</h2>
        <p>
          <%=job.more%>
        </p>
      </div>
      <div id="mission-description-prerequis">
        <h2>Si vous avez des questions</h2>
        <p>
          <%=job.teamInfo%>
        </p>
      </div>
      <div id="mission-description">
        <div id="mission-description-context">
          <h2>Mission</h2>
          <p style="white-space: pre-wrap;">
            <%=job.mission%>
          </p>
        </div>
        <div id="mission-description-activities">
          <h2>Ce que vous ferez</h2>
          <p>
          <ul>
            <% job.tasks.forEach(function(task) { %>
              <li>
                <%=task%>
              </li>
              <% }); %>
          </ul>
          </p>
        </div>
        <div id="mission-description-activities">
          <h2>Experiences</h2>
          <p>
          <ul>
            <% job.experiences.forEach(function(experience) { %>
              <li>
                <%=experience%>
              </li>
              <% }); %>
          </ul>
          </p>
        </div>
        <div id="mission-description-formation">
          <h2>L'equipe</h2>
          <p>
            <%=job.team%>
          </p>
        </div>

        <div id="mission-description-prerequis">
          <h2>Profil</h2>
          <p>
            <%=job.profil%>
          </p>
        </div>
        <div id="postuler" class="fr-mb-5w">
        </div>
        <div class="fr-callout">
          <div class="fr-callout__text">
            <div class="fr-container">
              <div class="fr-grid-row fr-grid-row--gutters fr-grid-row--center fr-grid-row--middle ">
                <div class="fr-col" style="text-align: left">
                  <div class="fr-mb-4w fr-mb-md-0">
                    Postuler
                    <span class="fr-mx-1v">
                      <b>
                        <%= job.contact %>
                      </b>
                    </span>
                  </div>
                  <a title="Postuler" target="_blank"
                    rel="noopener noreferrer" class="fr-btn fr-btn--secondary fr-text--lg">
                    Postuler
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
  <%- include('partials/footer') -%>