<%- include('partials/header') -%>
  <div class="fr-container">
      <div class="fr-mb-4w fr-mt-6w">
        <h1>
          <%= job.title %>
        </h1>
      </div>
      <div class="fr-callout fr-my-2w">
        <div class="fr-callout__text">
          <% if (job.publicationDate) { %>
            <div class="fr-grid-row fr-grid-row--gutters">
                <div class="fr-col-md-2 fr-col-sm-12" style="text-align: right;">
                  Publié le  
                </div>
                <div class="fr-col-md-10 fr-col-sm-12">
                  <b><%= job.publicationDate %></b>
                </div>
            </div>
          <% } %>
          <% if (job.ministry) { %>
            <div class="fr-grid-row fr-grid-row--gutters">
                <div class="fr-col-md-2 fr-col-sm-12" style="text-align: right;">
                  Ministère
                </div>
                <div class="fr-col-md-10 fr-col-sm-12">
                  <b><%= job.ministry %></b>
                </div>
            </div>
          <% } %>
          <% if (job.location) { %>
            <div class="fr-grid-row fr-grid-row--gutters">
                <div class="fr-col-md-2 fr-col-sm-12" style="text-align: right;">
                  Localisation
                </div>
                <div class="fr-col-md-10 fr-col-sm-12">
                  <b><%= job.location %></b>
                </div>
            </div>
          <% } %>
          <% if (job.openTo.length) { %>
            <div class="fr-grid-row fr-grid-row--gutters">
                <div class="fr-col-md-2 fr-col-sm-12" style="text-align: right;">
                  Ouvert aux
                </div>
                <div class="fr-col-md-10 fr-col-sm-12">
                  <b><%= job.openTo.join(', ') %></b>
                </div>
            </div>
          <% } %>
          <% if (job.salary) { %>
            <div class="fr-grid-row fr-grid-row--gutters">
                <div class="fr-col-md-2 fr-col-sm-12" style="text-align: right;">
                  Rémunération
                </div>
                <div class="fr-col-md-10 fr-col-sm-12">
                  <b><%= job.salary %></b>
                </div>
            </div>
          <% } %>
          <% if (job.experiences.length) { %>
            <div class="fr-grid-row fr-grid-row--gutters">
                <div class="fr-col-md-2 fr-col-sm-12" style="text-align: right;">
                  Expérience
                </div>
                <div class="fr-col-md-10 fr-col-sm-12">
                  <b><%= job.experiences.join(' | ') %></b>
                </div>
            </div>
          <% } %>
        </div>
      </div>
      <div class="fr-my-4w">
      <% if(job.team){ %>
      <div class="fr-grid-row fr-grid-row--gutters">
        <div class="fr-col-md-2 fr-col-sm-12">
          <h3>Equipe</h3>
        </div>
        <div class="fr-col-md-10 fr-col-sm-12">
          <p class="fr-text--lg"><%= job.team %></p>
        </div>
      </div>
      <% } %>
      <% if(job.mission){ %>
        <div class="fr-grid-row fr-grid-row--gutters">
          <div class="fr-col-md-2 fr-col-sm-12">
           <h3>Mission</h3>
          </div>
          <div class="fr-col-md-10 fr-col-sm-12">
            <p class="fr-text--lg"><%- job.mission.replace(/\n/g, '<br>') %></p>
          </div>
        </div>
      <% } %>
      <% if(job.tasks){ %>
        <div class="fr-grid-row fr-grid-row--gutters">
          <div class="fr-col-md-2 fr-col-sm-12">
           <h3>Ce que vous ferez</h3>
          </div>
          <div class="fr-col-md-10 fr-col-sm-12">
              <ul class="fr-text--lg">
                <% job.tasks.forEach(function(task) { %>
                  <li>
                    <%=task%>
                  </li>
                  <% }); %>
              </ul>
            </p>
          </div>
        </div>
      <% } %>
      <% if(job.conditions.length){ %>
        <div class="fr-grid-row fr-grid-row--gutters">
          <div class="fr-col-md-2 fr-col-sm-12">
           <h3>Conditions particulières du poste</h3>
          </div>
          <div class="fr-col-md-10 fr-col-sm-12">
            <% if(job.conditions.length == 1){ %>
              <p class="fr-text--lg">
                <%- job.conditions[0].replace(/\n/g, '<br>') %>
              </p>
            <% }; %>
            <% if(job.conditions.length > 1){ %>
              <ul class="fr-text--lg">
                <% job.conditions.forEach(function(condition) { %>
                  <li>
                    <%=condition%>
                  </li>
                <% }); %>
              </ul>
            <% }; %>
          </div>
        </div>
      <% } %>
      <% if(job.profil.length){ %>
        <div class="fr-grid-row fr-grid-row--gutters">
          <div class="fr-col-md-2 fr-col-sm-12">
           <h3>Votre profil</h3>
          </div>
          <div class="fr-col-md-10 fr-col-sm-12">
              <% if(job.profil.length == 1){ %>
                <p class="fr-text--lg">
                  <%- job.profil[0].replace(/\n/g, '<br>') %>
                </p>
              <% }; %>
              <% if(job.profil.length > 1){ %>
                <ul class="fr-text--lg">
                  <% job.profil.forEach(function(profil) { %>
                    <li>
                      <%=profil%>
                    </li>
                  <% }); %>
                </ul>
              <% }; %>
            </p>
          </div>
        </div>
      <% } %>
    </div>
  </div>
  <div class="fr-container fr-container--fluid fr-py-4w fr-mb-4w" style="background-color: #F0F0F0">
        <% if(job.teamInfo){ %>
          <div class="fr-grid-row fr-grid-row--gutters">
            <div class="fr-col-md-2 fr-col-sm-12">
              <p class="fr-text--lg">Si vous avez des questions</p>
            </div>
            <div class="fr-col-md-10 fr-col-sm-12">
                <p class="fr-text--lg">
                  <%- job.teamInfo %>
                </p>
              </p>
            </div>
          </div>
        <% } %>
        <% if(job.toCandidate){ %>
          <div class="fr-grid-row fr-grid-row--gutters"">
            <div class="fr-col-md-2 fr-col-sm-12">
              <p class="fr-text--lg">Pour candidater</p>
              </div>
              <div class="fr-col-md-10 fr-col-sm-12">
                  <p class="fr-text--lg">
                    <b><%- job.toCandidate %></b>
                  </p>
                </p>
              </div>
          </div>
        <% } %>
        <% if(job.more){ %>
          <div class="fr-grid-row fr-grid-row--gutters"">
            <div class="fr-col-md-2 fr-col-sm-12">
              <p class="fr-text--lg">Pour en savoir plus</p>
              </div>
              <div class="fr-col-md-10 fr-col-sm-12">
                  <p class="fr-text--lg">
                    <%- job.more %>
                  </p>
                </p>
              </div>
          </div>
        <% } %>
        <% if(job.limitDate){ %>
          <div class="fr-grid-row fr-grid-row--gutters">
            <div class="fr-col-md-2 fr-col-sm-12">
                <p class="fr-text--lg">Date Limite</p>
              </div>
              <div class="fr-col-md-10 fr-col-sm-12">
                  <p class="fr-text--lg">
                    le <%=job.limitDate %>
                  </p>
                </p>
              </div>
          </div>
        <% } %>
        <% if(job.hiringProcess){ %>
          <div class="fr-grid-row fr-grid-row--gutters">
            <div class="fr-col-md-2 fr-col-sm-12">
                <p class="fr-text--lg">Processus de recrutement</p>
              </div>
              <div class="fr-col-md-10 fr-col-sm-12">
                  <p class="fr-text--lg">
                    <%= job.hiringProcess %>
                  </p>
                </p>
              </div>
          </div>
        <% } %>
      </div>
    </div>
 
  <%- include('partials/footer') -%>