<!DOCTYPE html>
<html lang="fr">
  <%- include('partials/head') -%>

  <body>
    <%- include('partials/header') -%>

    <div id="job-detail" class="fr-container">
      <div class="fr-mb-4w fr-mt-6w">
        <h1><%= job.title %></h1>
      </div>

      <div id="job-detail-header" class="fr-callout fr-px-0 fr-my-2w">
        <div class="fr-callout__text fr-text--lg">
          <% if (job.updatedDate) { %>
            <div class="fr-grid-row fr-grid-row--gutters">
              <div class="fr-col-md-3 fr-col-sm-12 fr-pl-8w">
                Mis à jour le
              </div>
              <div class="fr-col-md-9 fr-col-sm-12">
                <p><%= job.updatedDate %></p>
              </div>
            </div>
          <% } %>

          <% if (job.service && job.service.institution) { %>
            <div class="fr-grid-row fr-grid-row--gutters">
              <div class="fr-col-md-3 fr-col-sm-12 fr-pl-8w">
                Institution
              </div>
              <div class="fr-col-md-9 fr-col-sm-12">
                <p>
                  <% if (job.service.institution.fullName) { %>
                    <%= job.service.institution.fullName %> (<%= job.service.institution.title %>)
                  <% } else { %>
                    <%= job.service.institution.title %>
                  <% } %>
                </p>
              </div>
            </div>
          <% } else if (job.department.length) { %>
            <div class="fr-grid-row fr-grid-row--gutters">
              <div class="fr-col-md-3 fr-col-sm-12 fr-pl-8w">
                Institution
              </div>
              <div class="fr-col-md-9 fr-col-sm-12">
                <p><%= job.department.join(', '); %></p>
              </div>
            </div>
          <% } %>

          <% if (job.service) { %>
            <div class="fr-grid-row fr-grid-row--gutters">
              <div class="fr-col-md-3 fr-col-sm-12 fr-pl-8w">
                Service
              </div>
              <div class="fr-col-md-9 fr-col-sm-12">
                <p>
                  <% if (job.service.url) { %>
                    <a href="<%= job.service.url %>" rel="noopnoopener" target="_blank">
                      <% if (job.service.fullName) { %>
                        <%= job.service.fullName %> (<%= job.service.name %>)
                      <% } else { %>
                        <%= job.service.name %>
                      <% } %>
                    </a>
                  <% } else { %>
                    <% if (job.service.fullName) { %>
                      <%= job.service.fullName %> (<%= job.service.name %>)
                    <% } else { %>
                      <%= job.service.name %>
                    <% } %>
                  <% } %>
                </p>
              </div>
            </div>
          <% } else if (job.entity) { %>
            <div class="fr-grid-row fr-grid-row--gutters">
              <div class="fr-col-md-3 fr-col-sm-12 fr-pl-8w">
                Entité recruteuse
              </div>
              <div class="fr-col-md-9 fr-col-sm-12">
                <%- job.entity %>
              </div>
            </div>
          <% } %>

          <% if (job.locations.length) { %>
            <div class="fr-grid-row fr-grid-row--gutters">
              <div class="fr-col-md-3 fr-col-sm-12 fr-pl-8w">
                Localisation
              </div>
              <div class="fr-col-md-9 fr-col-sm-12">
                <%- job.locations.map(location => `<p>${location}</p>`).join('') %>
              </div>
            </div>
          <% } %>

          <% if (job.openedToContractTypes.length) { %>
            <div class="fr-grid-row fr-grid-row--gutters">
              <div class="fr-col-md-3 fr-col-sm-12 fr-pl-8w">
                Ouvert aux
              </div>
              <div class="fr-col-md-9 fr-col-sm-12">
                <p><%= job.openedToContractTypes.join(', '); %></p>
              </div>
            </div>
          <% } %>

          <% if (job.salary) { %>
            <div class="fr-grid-row fr-grid-row--gutters">
              <div class="fr-col-md-3 fr-col-sm-12 fr-pl-8w">
                Rémunération
              </div>
              <div class="fr-col-md-9 fr-col-sm-12">
                <%- job.salary %>
              </div>
            </div>
          <% } %>

          <% if (job.experiences.length) { %>
            <div class="fr-grid-row fr-grid-row--gutters">
              <div class="fr-col-md-3 fr-col-sm-12 fr-pl-8w">
                Expérience
              </div>
              <div class="fr-col-md-9 fr-col-sm-12">
                <p><%= job.experiences.join(' | '); %></p>
              </div>
            </div>
          <% } %>
        </div>
      </div>

      <div id="job-detail-main-fields" class="fr-my-4w">
        <% if (job.team) { %>
          <div class="fr-grid-row fr-grid-row--gutters">
            <div class="fr-col-md-3 fr-col-sm-12">
              <h3>Équipe</h3>
            </div>
            <div class="fr-col-md-9 fr-col-sm-12">
              <%- job.team; %>
            </div>
          </div>
        <% } %>

        <% if (job.mission) { %>
          <div class="fr-grid-row fr-grid-row--gutters">
            <div class="fr-col-md-3 fr-col-sm-12">
              <h3>Mission</h3>
            </div>
            <div class="fr-col-md-9 fr-col-sm-12">
              <%- job.mission %>
            </div>
          </div>
        <% } %>

        <% if (job.tasks) { %>
          <div class="fr-grid-row fr-grid-row--gutters">
            <div class="fr-col-md-3 fr-col-sm-12">
              <h3>Ce que vous ferez</h3>
            </div>
            <div class="fr-col-md-9 fr-col-sm-12">
              <%- job.tasks %>
            </div>
          </div>
        <% } %>

        <% if (job.advantages) { %>
          <div class="fr-grid-row fr-grid-row--gutters">
            <div class="fr-col-md-3 fr-col-sm-12">
              <h3>Les plus du poste</h3>
            </div>
            <div class="fr-col-md-9 fr-col-sm-12">
              <%- job.advantages %>
            </div>
          </div>
        <% } %>

        <% if (job.conditions) { %>
          <div class="fr-grid-row fr-grid-row--gutters">
            <div class="fr-col-md-3 fr-col-sm-12">
              <h3>
                Conditions particulières<br />
                du poste
              </h3>
            </div>
            <div class="fr-col-md-9 fr-col-sm-12">
              <%- job.conditions %>
            </div>
          </div>
        <% } %>

        <% if (job.profile) { %>
          <div class="fr-grid-row fr-grid-row--gutters">
            <div class="fr-col-md-3 fr-col-sm-12">
              <h3>Votre profil</h3>
            </div>
            <div class="fr-col-md-9 fr-col-sm-12">
              <%- job.profile %>
            </div>
          </div>
        <% } %>
      </div>
    </div>

    <div id="job-detail-footer" class="trk-candidature fr-container fr-py-4w" style="background-color: #F0F0F0">
      <% if (job.teamInfo) { %>
        <div class="fr-grid-row fr-grid-row--gutters">
          <div class="fr-col-md-3 fr-col-sm-12">
            <p>Si vous avez des questions</p>
          </div>
          <div class="fr-col-md-9 fr-col-sm-12">
            <%- job.teamInfo %>
          </div>
      </div>
      <% } %>

      <% if (job.toApply) { %>
        <div class="fr-grid-row fr-grid-row--gutters">
          <div class="fr-col-md-3 fr-col-sm-12">
            <p>Pour candidater</p>
          </div>
          <div class="fr-col-md-9 fr-col-sm-12" style="font-weight: 700;">
            <%- job.toApply %>
          </div>
        </div>
      <% } %>

      <% if (job.more) { %>
        <div class="fr-grid-row fr-grid-row--gutters">
          <div class="fr-col-md-3 fr-col-sm-12">
            <p>Pour en savoir plus</p>
          </div>
          <div class="fr-col-md-9 fr-col-sm-12">
            <%- job.more %>
          </div>
        </div>
      <% } %>

      <% if (job.limitDate) { %>
        <div class="fr-grid-row fr-grid-row--gutters">
          <div class="fr-col-md-3 fr-col-sm-12">
            <p>Date Limite</p>
          </div>
          <div class="fr-col-md-9 fr-col-sm-12">
            <p><%= job.limitDate %></p>
          </div>
        </div>
      <% } %>

      <% if (job.hiringProcess) { %>
        <div class="fr-grid-row fr-grid-row--gutters">
          <div class="fr-col-md-3 fr-col-sm-12">
            <p>Processus de recrutement</p>
          </div>
          <div class="fr-col-md-9 fr-col-sm-12">
            <%- job.hiringProcess %>
          </div>
        </div>
      <% } %>

      <% if (job.reference) { %>
        <div class="fr-grid-row fr-grid-row--gutters">
          <div class="fr-col-md-3 fr-col-sm-12">
            <p>Référence interne</p>
          </div>
          <div class="fr-col-md-9 fr-col-sm-12">
            <p><code><%= job.reference %></code></p>
          </div>
        </div>
      <% } %>
    </div>

    <%- include('partials/footer') -%>
  </body>
</html>
