<%- include('partials/header') -%>
<main role="main" id="contenu">	
  <div class="fr-container">
    <div class="fr-grid-row fr-grid-row--center fr-grid-row--middle fr-mt-1v fr-pb-1v">
      <div id="hero-col-1" class="fr-col-md-5 fr-col-xs-6 fr-pr-6w">
        <h1>L’Etat Numérique :
          Des projets à découvrir,
          des missions à pourvoir !</h1>
        <p class="fr-text--lg fr-mb-1v">
        </p>
      </div>
      <div id="hero-col-2" class="fr-col-md-7 fr-col-xs-6">
        <div>
          <img
            style="max-width: 100%;"
            src="/static/images/main-illu.svg"
            alt="Séance chez un psychologue"
          />
        </div>
      </div>
    </div>
  </div>
  <div class="fr-container fr-py-6w fr-px-2w">
  <h1>metiers.numerique.gouv.fr</h1>
  <p>
    Tout savoir sur les métiers du numérique au sein de l’Etat
  </p>

<div class="fr-container-fluid fr-my-6w">
  <div class="fr-grid-row fr-grid-row--gutters">
    <%- include('partials/card',
    {
      title: 'Composants',
      description: "Cartes, boutons...",
      url: '/components',
      size: '3',
      img: '',
    })
    -%>


    <%- include('partials/card',
    {
      title: 'Formulaire',
      description: "Input, textarea...",
      url: '/formulaire',
      size: '3',
      img: '',
    })
    -%>

    <%- include('partials/card',
    {
      title: 'Typographie',
      description: "Titres, paragraphes...",
      url: '/typography',
      size: '3',
      img: '',
    })
    -%>

    <%- include('partials/card',
    {
      title: 'Couleurs',
      description: "Palettes, combinaisons accessibles...",
      url: '/colors',
      size: '3',
      img: '',
    })
    -%>

    <%- include('partials/card',
    {
      title: 'Ressources',
      description: "Documentation et lien vers des sites exemples en production",
      url: '/ressources',
      size: '3',
      img: '',
    })
    -%>
  </div>
</div>

  <div class="fr-container-fluid">
    <h2>Vous voulez participer ? </h2>
    <ul>
      <li><a class="fr-link fr-fi-external-link-line fr-link--icon-right" target="blank" href="https://github.com/betagouv/template-design-system-de-l-etat/issues">Voir les problèmes signalés</a></li>
      <li><a class="fr-link fr-fi-external-link-line fr-link--icon-right" target="blank" href="https://github.com/betagouv/template-design-system-de-l-etat/issues/new">Signaler un problème</a></li>
      <li><a class="fr-link fr-fi-external-link-line fr-link--icon-right" target="blank" href="https://github.com/betagouv/template-design-system-de-l-etat/">Contribuer au code source</a></li>
    </div>
  </div>
</div>

</div>
</main>
<%- include('partials/footer') -%>
