<%- include('partials/header') -%>
  <div class="fr-container">
    <div class="fr-grid-row fr-grid-row--gutters">
        <% if (ministry.brandBlock.length) { %>
            <div class="fr-col-2 fr-mb-4w fr-mt-6w">
                <img src="<%= ministry.brandBlock[0].file.url %>" class="fr-responsive-img" alt="<%= ministry.brandBlock[0].name %>" >
            </div>
        <% } else {%>
            <div class="fr-col-2 fr-mb-4w fr-mt-6w">
            </div>
        <% } %>
        <div class="fr-col-8 fr-mb-4w fr-mt-8w fr-ml-2w">
            <h1>
                <%= ministry.title %>
            </h1>
            <p>
                <%= ministry.fullName %>
            </p>
      </div>
    </div>
      <div class="fr-callout fr-my-2w">
        <div class="">
          <% if (ministry.motivation) { %>
            <div class="fr-grid-row fr-grid-row--gutters">
                <div class="fr-col-md-2 fr-col-sm-12" style="text-align: right;">
                  <h5>Raison d‘être</h5>
                </div>
                <div class="fr-col-md-10 fr-col-sm-12">
                    <b><%= ministry.motivation.split('- ')[0] %></b>
                    <p class="fr-mt-4w" >
                        <ul>
                            <% ministry.motivation.split('- ').slice(1).forEach(function(motivation) { %>
                              <li>
                                <%= motivation %>
                              </li>
                              <% }); %>
                          </ul></p>
                    <% if (ministry.motivationMedia.length) { %>
                        <% ministry.motivationMedia.forEach(function(media) { %>
                            <% if (media.file) { %>
                                <a href="<%= media.file.url %>" target="_blank"><%= media.name %></a>
                            <% } else { %>
                                <a href="<%= media.name %>" target="_blank">Présentation</a>
                            <% } %>
                        <% }); %>
                    <% } %>
                </div>
            </div>
          <% } %>

        </div>
      </div>
      <div class="fr-my-4w">
      <% if(ministry.values){ %>
      <div class="fr-grid-row fr-grid-row--gutters">
        <div class="fr-col-md-2 fr-col-sm-12">
          <h3>Valeurs</h3>
        </div>
        <div class="fr-col-md-10 fr-col-sm-12 fr-mb-4w">
            <ul>
                <% ministry.values.split('\n').forEach(function(value) { %>
                    <li>
                        <%= value.replace('- ', '') %>
                    </li>
                <% }); %>
            </ul>
            <% ministry.valuesMedia.forEach(function(media) { %>
                <% if (media.file) { %>
                    <a class="fr-text--sm" href="<%= media.file.url %>" target="_blank"><%= media.name %></a>
                <% } else { %>
                    <a class="fr-text--sm" href="<%= media.name %>" target="_blank"><%= media.name %></a>
                <% } %>
            <% }); %>
        </div>
      </div>
      <% } %>
      <% if(ministry.missions){ %>
        <div class="fr-grid-row fr-grid-row--gutters">
          <div class="fr-col-md-2 fr-col-sm-12">
           <h3>Missions</h3>
          </div>
          <div class="fr-col-md-10 fr-col-sm-12 fr-mb-4w">
            <ul>
                <% ministry.missions.split('\n').forEach(function(mission) { %>
                    <li>
                        <%= mission.replace('- ', '') %>
                    </li>
                <% }); %>
            </ul>
          </div>
        </div>
      <% } %>
      <% if(ministry.projects){ %>
        <div class="fr-grid-row fr-grid-row--gutters">
          <div class="fr-col-md-2 fr-col-sm-12">
           <h3>Projets</h3>
          </div>
          <div class="fr-col-md-10 fr-col-sm-12 fr-mb-4w">
            <ul>
                <% ministry.projects.split('- ').slice(1).forEach(function(project) { %>
                    <li>
                        <%- project.replaceAll('* ', '- ').replace(/\n/g, '<br>') %>
                    </li>
                <% }); %>
            </ul>
            <ul>
            <% ministry.projectsMedia.forEach(function(media) { %>
                <% if (media.file) { %>
                    <li><a class="fr-text--sm" href="<%= media.file.url %>" target="_blank"><%= media.name %></a></li>
                <% } else { %>
                    <li><a class="fr-text--sm" href="<%= media.name %>" target="_blank"><%= media.name %></a></li>
                <% } %>
            <% }); %>
            </ul>
          </div>
        </div>
      <% } %>
      <% if(ministry.testimonials || ministry.testimonialsMedia.length){ %>
        <div class="fr-grid-row fr-grid-row--gutters">
          <div class="fr-col-md-2 fr-col-sm-12">
           <h3>Nos agents en parlent</h3>
          </div>
          <div class="fr-col-md-10 fr-col-sm-12 fr-mb-4w">
            Découvrez le témoignage de nos agents:
            <% if(ministry.testimonials.search('http') != -1 ){ %>
                <ul>
                    <% ministry.testimonials.split('\n').forEach(function(testimonial) { %>
                    <li><a href="<%= testimonial.split(' : ')[1] %>" target="_blank"> <%= testimonial.split(' : ')[0] %> </a></li>
                    <% }); %>
                </ul>
            <% } else { %>
                <p><%- ministry.testimonials.replace(/\n/g, '<br>') %></p>
            <% } %>
            <% if(ministry.testimonialsMedia){ %>
                <% ministry.testimonialsMedia.forEach(function(media) { %>
                    <% if (media.file) { %>
                        <li><a class="fr-text--sm" href="<%= media.file.url %>" target="_blank"><%= media.name %></a></li>
                    <% } else { %>
                        <li><a class="fr-text--sm" href="<%= media.name %>" target="_blank"><%= media.name %></a></li>
                    <% } %>
                <% }); %>
            <% } %>
          </div>
        </div>
      <% } %>
      <% if(ministry.joinTeam || ministry.jobsLink.length){ %>
        <div class="fr-grid-row fr-grid-row--gutters">
          <div class="fr-col-md-2 fr-col-sm-12">
           <h3>Nous rejoindre</h3>
          </div>
          <div class="fr-col-md-10 fr-col-sm-12 fr-mb-4w">
            <% if(ministry.joinTeam){ %>
            <ul>
                <% ministry.joinTeam.split('\n').forEach(function(arg) { %>
                    <li>
                        <%= arg.replace('- ', '') %>
                    </li>
                <% }); %>
                </ul>
            <ul>
            <% ministry.joinTeamMedia.forEach(function(media) { %>
                <% if (media.file) { %>
                    <li><a class="fr-text--sm" href="<%= media.file.url %>" target="_blank"><%= media.name %></a></li>
                <% } else { %>
                    <li><a class="fr-text--sm" href="<%= media.name %>" target="_blank"><%= media.name %></a></li>
                <% } %>
            <% }); %>
            </ul>
            <% } %>
            <% if(ministry.jobsLink.length){ %>
                <a href="<%= ministry.jobsLink[0].name %>"
                    class="fr-btn fr-btn--sm">Découvrez nos offres d'emploi
                     <span class="fr-fi-arrow-right-line fr-pl-1w" aria-hidden="true"></span>
                  </a>
            <% } %>
            </div>
        </div>
      <% } %>
    </div>
  </div>
  <div class="fr-container fr-container--fluid fr-py-4w fr-mb-4w" style="background-color: #F0F0F0">
    <% if(ministry.keyNumbers){ %>
    <div class="fr-grid-row fr-grid-row--gutters">
        <div class="fr-col-md-2 fr-col-sm-12">
            <h5>Chiffres clés</h5>
        </div>
        <div class="fr-col-md-10 fr-col-sm-12 fr-mb-4w">
            <ul>
            <% ministry.keyNumbers.split('\n').forEach(function(number) { %>
                <li>
                    <%= number.replace('- ', '') %>
                </li>
            <% }); %>
            </ul>
        </div>
    </div>
    <% } %>
    <% if(ministry.websites){ %>
        <div class="fr-grid-row fr-grid-row--gutters">
        <div class="fr-col-md-2 fr-col-sm-12">
            <h5>Sites & réseaux</h5>
            </div>
            <div class="fr-col-md-10 fr-col-sm-12">
                <ul>
                    <% ministry.websites.forEach(function(website) { %>
                        <li>
                            <a href="<%= website.name %>" target="_blank"><%= website.name %></a>
                        </li>
                    <% }); %>
                </ul>
                <p>
                <% ministry.socialNetworks.forEach(function(network) { %>
                    <% if(network.name.search('linkedin.com') != -1 ){ %>
                        <a href="<%= network.name %>">
                            <span class="fr-fi-linkedin-box-fill" aria-hidden="true"></span>
                        </a>
                    <% } else if(network.name.search('twitter.com') != -1){ %>
                        <a href="<%= network.name %>">
                            <span class="fr-fi-twitter-fill" aria-hidden="true"></span>
                        </a>
                    <% } else if(network.name.search('facebook.com') != -1){ %>
                        <a href="<%= network.name %>">
                            <span class="fr-fi-facebook-circle-fill" aria-hidden="true"></span>
                        </a>
                    <% } else if(network.name.search('instagram.com') != -1){ %>
                        <a href="<%= network.name %>">
                            <span class="fr-fi-instagram-fill" aria-hidden="true"></span>
                        </a>
                    <% } else if(network.name.search('youtube.com') != -1){ %>
                        <a href="<%= network.name %>">
                            <span class="fr-fi-youtube-fill" aria-hidden="true"></span>
                        </a>
                    <% } else if(network.name.search('github.com') != -1){ %>
                        <a href="<%= network.name %>">Github</a>
                    <% } else if(network.name.search('dailymotion.com') != -1){ %>
                        <a href="<%= network.name %>">Dailymotion</a>
                    <% } else { %>
                        <a href="<%= network.name %>">Soundcloud</a>
                    <% } %>
                <% }); %>
                </p>
            </div>
        </div>
    <% } %>
      <% if(ministry.adress){ %>
        <div class="fr-grid-row fr-grid-row--gutters">
        <div class="fr-col-md-2 fr-col-sm-12">
            <h5>Adresses</h5>
            </div>
            <div class="fr-col-md-10 fr-col-sm-12">
                <p>
                <%- ministry.adress %>
                </p>
                <% ministry.adressBis.forEach(function(adress) { %>
                    <p>
                    <% if(adress.name.search('google.com') != -1){ %>
                        <a href="<%= adress.name %>" target="_blank">Voir sur Google maps</a>
                    <% } else { %>
                        <img class="fr-col-2 fr-mb-4w fr-mt-6w" src="<%= adress.file.url %>" alt="<%= adress.name %>">
                    <% } %>
                    </p>
                <% }); %>
            </p>
            </div>
        </div>
        <% } %>
        </div>
    </div>

  <%- include('partials/footer') -%>
